.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo__container {
    height: 100%;
    width: 70px;
    padding: 20px;
    font-size: 22px;
    text-decoration: none;
    color: grey;
    font-family: monospace;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      font-size: 19px;
      color: blue;
      text-decoration: none;
    }
  }
}
